<a href="https://colab.research.google.com/github/oliver22-2/Senai-Python/blob/main/Atv10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd

In [10]:
# Criação do DataFrame
cidades_br = pd.DataFrame({
    'Cidade': ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Porto Alegre', 'Curitiba'],
    'Estado': ['SP', 'RJ', 'MG', 'RS', 'PR'],
    'População (milhões)': [12.3, 6.7, 2.5, 1.5, 1.9],
    'Capital': [True, True, True, True, True]
})

# Exiba o DataFrame completo
print("DataFrame completo:")
print(cidades_br)

DataFrame completo:
           Cidade Estado  População (milhões)  Capital
0       São Paulo     SP                 12.3     True
1  Rio de Janeiro     RJ                  6.7     True
2  Belo Horizonte     MG                  2.5     True
3    Porto Alegre     RS                  1.5     True
4        Curitiba     PR                  1.9     True

In [25]:
# Exiba as 3 primeiras linhas
print("\n3 primeiras linhas:")
print(cidades_br.head(3))

3 primeiras linhas:
   Nome da Cidade  UF  Habitantes (M)  Capital
0       São Paulo  SP            12.3     True
1  Rio de Janeiro  RJ             6.7     True
2  Belo Horizonte  MG             2.5     True

In [37]:
# Exiba 2 linhas aleatórias
print("\n2 linhas aleatórias:")
print(cidades_br.sample(2))

2 linhas aleatórias:
   Nome da Cidade  UF  Habitantes (M)  Capital
1  Rio de Janeiro  RJ             6.7     True
3    Porto Alegre  RS             1.5    False

In [13]:
# Acesse e exiba apenas a coluna 'Cidade'
print("\nColuna 'Cidade':")
print(cidades_br['Cidade'])

Coluna 'Cidade':
0         São Paulo
1    Rio de Janeiro
2    Belo Horizonte
3      Porto Alegre
4          Curitiba
Name: Cidade, dtype: object

In [14]:
# Acesse e exiba as colunas 'Estado' e 'População (milhões)'
print("\nColunas 'Estado' e 'População (milhões)':")
print(cidades_br[['Estado', 'População (milhões)']])

Colunas 'Estado' e 'População (milhões)':
  Estado  População (milhões)
0     SP                 12.3
1     RJ                  6.7
2     MG                  2.5
3     RS                  1.5
4     PR                  1.9

In [15]:
# Adicione uma nova coluna 'Área (km²)'
cidades_br['Área (km²)'] = [1521, 1200, 331, 496, 435]
print("\nDataFrame com nova coluna 'Área (km²)':")
print(cidades_br)

DataFrame com nova coluna 'Área (km²)':
           Cidade Estado  População (milhões)  Capital  Área (km²)
0       São Paulo     SP                 12.3     True        1521
1  Rio de Janeiro     RJ                  6.7     True        1200
2  Belo Horizonte     MG                  2.5     True         331
3    Porto Alegre     RS                  1.5     True         496
4        Curitiba     PR                  1.9     True         435

In [16]:
# Altere 'Capital' para False nas cidades indicadas
cidades_br.loc[cidades_br['Cidade'].isin(['Porto Alegre', 'Curitiba']), 'Capital'] = False
print("\nDataFrame com alteração na coluna 'Capital':")
print(cidades_br)

DataFrame com alteração na coluna 'Capital':
           Cidade Estado  População (milhões)  Capital  Área (km²)
0       São Paulo     SP                 12.3     True        1521
1  Rio de Janeiro     RJ                  6.7     True        1200
2  Belo Horizonte     MG                  2.5     True         331
3    Porto Alegre     RS                  1.5    False         496
4        Curitiba     PR                  1.9    False         435

In [18]:
# Renomeie as colunas
cidades_br.columns = ['Nome da Cidade', 'UF', 'Habitantes (M)', 'Capital', 'Tamanho (km²)']
print("\nDataFrame com colunas renomeadas:")
print(cidades_br)

DataFrame com colunas renomeadas:
   Nome da Cidade  UF  Habitantes (M)  Capital  Tamanho (km²)
0       São Paulo  SP            12.3     True           1521
1  Rio de Janeiro  RJ             6.7     True           1200
2  Belo Horizonte  MG             2.5     True            331
3    Porto Alegre  RS             1.5    False            496
4        Curitiba  PR             1.9    False            435

In [19]:
# Resumo estatístico com describe()
print("\nResumo estatístico:")
print(cidades_br.describe())

Resumo estatístico:
       Habitantes (M)  Tamanho (km²)
count        5.000000       5.000000
mean         4.980000     796.600000
std          4.590425     530.420871
min          1.500000     331.000000
25%          1.900000     435.000000
50%          2.500000     496.000000
75%          6.700000    1200.000000
max         12.300000    1521.000000

In [20]:
# Cidades com população > 2.0 milhões
print("\nCidades com mais de 2.0 milhões de habitantes:")
print(cidades_br[cidades_br['Habitantes (M)'] > 2.0])

Cidades com mais de 2.0 milhões de habitantes:
   Nome da Cidade  UF  Habitantes (M)  Capital  Tamanho (km²)
0       São Paulo  SP            12.3     True           1521
1  Rio de Janeiro  RJ             6.7     True           1200
2  Belo Horizonte  MG             2.5     True            331

In [21]:
# Exclua a coluna 'Tamanho (km²)'
cidades_br = cidades_br.drop(columns=['Tamanho (km²)'])
print("\nDataFrame após excluir 'Tamanho (km²)':")
print(cidades_br)

DataFrame após excluir 'Tamanho (km²)':
   Nome da Cidade  UF  Habitantes (M)  Capital
0       São Paulo  SP            12.3     True
1  Rio de Janeiro  RJ             6.7     True
2  Belo Horizonte  MG             2.5     True
3    Porto Alegre  RS             1.5    False
4        Curitiba  PR             1.9    False

In [22]:
# Exiba a primeira linha com iloc
print("\nPrimeira linha com iloc:")
print(cidades_br.iloc[0])

Primeira linha com iloc:
Nome da Cidade    São Paulo
UF                       SP
Habitantes (M)         12.3
Capital                True
Name: 0, dtype: object

In [23]:
# Exiba as linhas de índice 1 a 3 com iloc
print("\nLinhas de índice 1 a 3 com iloc:")
print(cidades_br.iloc[1:4])

Linhas de índice 1 a 3 com iloc:
   Nome da Cidade  UF  Habitantes (M)  Capital
1  Rio de Janeiro  RJ             6.7     True
2  Belo Horizonte  MG             2.5     True
3    Porto Alegre  RS             1.5    False

In [24]:
# Exiba colunas 'UF' e 'Habitantes (M)' das linhas 0 e 4 com iloc
print("\nColunas 'UF' e 'Habitantes (M)' das linhas 0 e 4:")
print(cidades_br.iloc[[0, 4]][['UF', 'Habitantes (M)']])

Colunas 'UF' e 'Habitantes (M)' das linhas 0 e 4:
   UF  Habitantes (M)
0  SP            12.3
4  PR             1.9